---
// layout import
import Layout from "@layouts/Layout.astro";

// component import
import ChemProjectCard from "@components/AstroComponents/ChemistryProjects/ChemProjectCard.astro";
import OtherHeader from "@components/AstroIslands/Common/OtherHeader";
import Pagination from "@components/AstroComponents/Common/Pagination.astro";

// function import
import { getCollection } from "astro:content";
import { formatPosts } from "@js/utils";

// type import
import type { GetStaticPaths } from "astro";

// style import
import "@styles/posts.scss";

// asset import
import NoData from "@images/No data.svg";

// getting completed publications with 6 publications per page
export const getStaticPaths = (async ({ paginate }) => {
  const allPublications = await getCollection("chemistry");
  const formattedPublications = formatPosts(allPublications, {
    filterOutFuturePosts: false,
  });
  const completedPublications = formattedPublications.filter(
    (publication: any) =>
      publication.data.tags.includes("completed") ||
      publication.data.tags.includes("Completed") ||
      publication.data.tags.includes("COMPLETED")
  );
  return paginate(completedPublications, {
    pageSize: 6,
  });
}) satisfies GetStaticPaths;
const { page } = Astro.props;

// defining page title and description for completed publications page
const pageTitle = "Aritra Roy | Completed Research Projects";
const pageDescription =
  "Explore my completed computational chemistry projects, where cutting-edge algorithms and simulations unravel the mysteries of molecules, reactions and the world.";
---

<Layout title={pageTitle} description={pageDescription}>
  <OtherHeader client:only="react" />
  <div class="postsNavigationDiv">
    <!-- publications  heading section -->
    <h1 style="margin-bottom: 0;">Completed Research Projects</h1>
    <!-- completed publications -->
    <div class="allPostsContainer">
      {
        page.data.length > 0 ? (
          page.data.map((publication: any) => (
            <ChemProjectCard
              url={publication.slug}
              title={publication.data.title}
              journalName={publication.data.journalName}
              image={publication.data.cover}
              duration={publication.data.duration}
              status={publication.data.status}
              tags={publication.data.tags}
              urlPrefix="/projects/chemistry/"
              buttonText="View Paper"
            />
          ))
        ) : (
          <div class="noDataFoundContainer">
            <img
              id="noDataFound"
              src={NoData.src}
              alt="No Data Found"
              width={500}
            />
            <h2>No Records Found</h2>
            <p>
              There is no project in this section at this moment.. Maybe explore other projects?
            </p>
          </div>
        )
      }
    </div>
    <!-- pagination section -->
    {page.lastPage === 1 ? (<></>) : 
      (
        <Pagination
          prevUrl={page.url.prev}
          nextUrl={page.url.next}
          totalPage={page.lastPage}
          currentPage={page.currentPage}
          urlPrefix="/projects/chemistry/completed/"
        />
      )
    }
  </div>
</Layout>
