---
// library import
import { Icon } from "astro-icon/components";

// component import
import { Image } from "astro:assets";
import Header from "@components/AstroIslands/Common/Header";
import BackButton from "@components/AstroComponents/Common/BackButton.astro";

// function import
import { slugify, capitalizeWords } from "@js/utils";

// style import
import "./styles/ProgrammingProjectHeader.scss";

// // destructuring astro properties
const {
  title,
  status,
  duration,
  tags,
  githubUrl,
  hostedUrl,
  dockerUrl,
  cover,
} = Astro.props;
---

<>
  <Header isHomePage={false} client:only="react" />
  <header class="programmingProjectHeaderContainer">
    <BackButton
      text="Back"
      customStyle="margin-bottom:30px; padding: 15px 22px;"
      icon={{
        name: "others/arrow-big-left-line",
        side: "left",
      }}
    />
    <div class="programmingProjectHeaderElements">
      <h1 class="title">{title}</h1>
      <p class="tagsContainer">
        {
          tags.map((tag: string) => (
            <a href={`/projects/programming/tag/${slugify(tag)}`}>
              <span class="tagBadge">#{slugify(tag)}</span>
            </a>
          ))
        }
      </p>
      <p class="tagsContainer">
        <Icon
          name="others/hourglass-outline"
          class="customIcon"
          height="24"
          width="24"
        />
        {duration}
      </p>
      <p><strong>Status:</strong>&nbsp;{capitalizeWords(status)}</p>
      <div>
        {
          hostedUrl && (
            <a
              href={hostedUrl}
              class="pubRelatedLinks"
              target="_blank"
              title="Hosted Link"
            >
              <Icon
                name="others/external-link"
                height="30"
                width="30"
                title="Hosted Link"
              />
            </a>
          )
        }
        {
          githubUrl && (
            <a
              href={githubUrl}
              class="pubRelatedLinks"
              target="_blank"
              title="GitHub Repo"
            >
              <Icon
                name="others/github"
                height="30"
                width="30"
                title="GitHub Repo"
              />
            </a>
          )
        }
        {
          dockerUrl && (
            <a
              href={dockerUrl}
              class="pubRelatedLinks"
              target="_blank"
              title="Build Docker Image"
            >
              <Icon
                name="others/docker"
                height="30"
                width="30"
                title="Build Docker Image"
              />
            </a>
          )
        }
      </div>
      <Image src={cover} alt={title} class="coverImage" />
    </div>
  </header>
</>
