---
// component import
import OtherHeader from "@components/AstroIslands/Common/OtherHeader";
import Button from "@components/AstroComponents/Common/Button.astro";
import VideoPlayer from "@components/AstroIslands/Videos/VideoPlayer";

// function import
import { slugify, formatDate } from "@js/utils";

// style import
import "./styles/VideoHeader.scss";

// // destructuring astro properties
const { tags, title, videoId, duration, pubDate } = Astro.props;
---

<>
  <OtherHeader client:only="react" />
  <header class="videoHeaderContainer">
    <Button
      text="Back"
      href="/tutorial/videos"
      customStyle="margin-bottom:30px; padding: 15px 22px;"
      icon={{
        name: "tabler:arrow-big-left-line",
        side: "left",
      }}
    />
    <div class="videoHeaderElements">
      <h1 class="title">{title}</h1>
      <p class="tagsContainer">
        ⏱ {duration} • {formatDate(pubDate)}
      </p>
      <p class="tagsContainer">
        {
          tags.map((tag: string) => (
            <a href={`/tutorial/videos/tag/${slugify(tag)}`}>
              <span class="tagBadge">#{slugify(tag)}</span>
            </a>
          ))
        }
      </p>
    </div>
    <VideoPlayer client:only="react" videoId={videoId} />
  </header>
</>
