---
// layout import
import Layout from "@layouts/Layout.astro";

// library import
import { getCollection } from "astro:content";

// component import
import PostCard from "@components/AstroComponents/Common/PostCard.astro";
import Pagination from "@components/AstroComponents/Common/Pagination.astro";
import OtherHeader from "@components/AstroIslands/Common/OtherHeader";
import BackButton from "@components/AstroComponents/Common/BackButton.astro";
import Socials from "@components/AstroComponents/Socials.astro";
import Footer from "@components/AstroComponents/Footer.astro";

// style import
import "@styles/posts.scss";

// asset import
import NoData from "@images/No data.svg"

// function import
import { slugify, deslugify, formatPosts } from "@js/utils";

// type import
import type { GetStaticPaths } from "astro";

// getting all video posts with a specified tag (6 posts per page)
export const getStaticPaths = (async ({ paginate }) => {
  const allVideos = await getCollection("videos");
  const formattedVideos = formatPosts(allVideos);
  const uniqueTags = [
    ...new Set(formattedVideos.map((video: any) => video.data.tags).flat()),
  ];

  return uniqueTags.map((tag: any) => {
    const filteredPosts = formattedVideos.filter((video: any) =>
      video.data.tags.includes(tag)
    );
    return paginate(filteredPosts, {
      params: { tag: slugify(tag) },
      pageSize: 6,
    });
  });
}) satisfies GetStaticPaths;
const params = Astro.params;
const { page } = Astro.props;

const tag = params.tag ? deslugify(params.tag).toUpperCase() : "";
const {
  pageTitle = `All Videos | Tag: ${tag}`, 
  pageDescription = `Discover the essence of ${tag} through captivating youtube videos, insights, and expertise. Explore a curated collection of ${tag} content, tailored just for you.`,
  frontmatter,
  cover,
  robots
  } = Astro.props;
---

<Layout title={pageTitle} description={pageDescription} {frontmatter} {robots} {cover}>
  <OtherHeader client:only="react" />
  <Socials />
  <div class="postsNavigationDiv">
    <!-- videos with specific tag heading section -->
    <h1>
      Videos about <span class="highlightedText">{tag}</span>
    </h1>
    <BackButton
      text="Back"
      customStyle="padding: 10px 18px;"
      icon={{
        name: "tabler:arrow-big-left-line",
        side: "left",
      }}
    />
    <!-- all videos with one specific tag -->
    <div class="allPostsContainer">
      {
        page.data.length > 0 ? (
          page.data.map((video: any) => (
            <PostCard
              url={video.slug}
              title={video.data.title}
              image={video.data.cover}
              pubDate={video.data.pubDate}
              duration={video.data.duration}
              tags={video.data.tags}
              urlPrefix="/tutorial/videos/"
              buttonText="View Post"
            />
          ))
        ):(
          <div class="noDataFoundContainer">
            <img
              id="noDataFound"
              src={NoData.src}
              alt="No Data Found"
              width={500}
            />
            <h2>No Records Found</h2>
            <p>
              There is no video in this section at this moment.. Maybe explore other projects?
            </p>
          </div>
        )
      }
    </div>
    <!-- pagination section -->
    {page.lastPage === 1 ? (<></>) : (
      <Pagination
        prevUrl={page.url.prev}
        nextUrl={page.url.next}
        totalPage={page.lastPage}
        currentPage={page.currentPage}
        urlPrefix={`/tutorial/videos/tag/${params.tag}/`}
      />
    )}
  </div>
  <Footer />
</Layout>
