---
// library import
import { Icon } from "astro-icon/components";

// component import
import Header from "@components/AstroIslands/Common/Header";
import BackButton from "@components/AstroComponents/Common/BackButton.astro";

// function import
import { slugify, formatDate, capitalizeWords } from "@js/utils";

// style import
import "./styles/ResearchProjectHeader.scss";

// // destructuring astro properties
const {   title, status, duration, tags, pubDate, journalName, isOpenAccess, journalUrl, codeUrl, runUrl, dockerUrl, newsUrl } = Astro.props;

const currentDate = new Date();
---

<>
  <Header isHomePage={false} client:only="react" />
  <header class="researchProjectHeaderContainer">
    <BackButton
      text="Back"
      customStyle="margin-bottom:30px; padding: 15px 22px;"
      icon={{
        name: "others/arrow-big-left-line",
        side: "left",
      }}
    />
    <div class="researchProjectHeaderElements">
      <h1 class="title">{title}</h1>
      <p class="tagsContainer">
        {
          tags.map((tag: string) => (
            <a href={`/projects/researchistry/tag/${slugify(tag)}`}>
              <span class="tagBadge">#{slugify(tag)}</span>
            </a>
          ))
        }
      </p>
      <p class="tagsContainer">
        <Icon
          name="others/hourglass-outline"
          class="customIcon"
          height={24}
          width={24}
        />
        {duration} {
          currentDate > pubDate ? (
            <> •
              <Icon name="others/calendar" class="customIcon" height={24} width={24} />
              {formatDate(pubDate)}
            </>
            ) : (<></>)
          }
      </p>
      <p><strong>Status: </strong> {capitalizeWords(status)}</p>
      {journalName!== null ? (isOpenAccess === true ? 
          (
            <div class="journalDetailsDiv">
              <h4>{journalName}</h4> 
              <Icon class="isOpenAccessIcon" name="others/lock-open-variant" />
            </div>
          ) : 
          (
            <div class="journalDetailsDiv">
              <h4>{journalName}</h4> 
              <Icon class="isOpenAccessIcon" name="others/lock" />
            </div>
          ) 
        ):(<></>) }
      <div>
        {journalUrl && (
          <a href={journalUrl} class="pubRelatedLinks" target="_blank" title="Journal Link" >
            <Icon name="others/external-link" height={30} width={30} />
          </a>
        )}
        {codeUrl && (
          <a href={codeUrl} class="pubRelatedLinks" target="_blank" title="GitHub Repo" >
            <Icon name="others/github" height={30} width={30} />
          </a>
        )}
        {runUrl && (
          <a href={runUrl} class="pubRelatedLinks" target="_blank" title="Run Online" >
            <Icon name="others/run-all" height={30} width={30} />
          </a>
        )}
        {dockerUrl && (
          <a href={dockerUrl} class="pubRelatedLinks" target="_blank" title="Build Docker Image" >
            <Icon name="others/docker" height={30} width={30} />
          </a>
        )}
        {newsUrl && (
          <a href={newsUrl} class="pubRelatedLinks" target="_blank" title="Newspaper Review" >
            <Icon name="others/newspaper" height={30} width={30} />
          </a>
        )}
      </div>
    </div>
  </header>
</>
