---
// library import
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

// component import
import Button from "@components/AstroComponents/Common/Button.astro";

// function import
import { slugify, capitalizeWords } from "@js/utils";

// destructuring astro properties
const {
  title,
  url,
  journalName,
  image,
  tags,
  status,
  duration,
  urlPrefix,
  buttonText,
} = Astro.props;

// style import
import "./styles/ResearchProjectCard.scss";
---

<>
  <div class="researchCard">
    <a href={`${urlPrefix}${url}`}>
      <h4>{capitalizeWords(title)}</h4>
    </a>
    <div class="researchImgTextContainer">
      <a href={`${urlPrefix}${url}`}>
        <Image alt={title} src={image} width={300} height={150} />
      </a>
      <div class="researchTextContainer">
        <p id="status">{capitalizeWords(status)}</p>
        <small id="journalName"
          >{
            journalName !== null
              ? capitalizeWords(journalName)
              : "Journal Name: NA"
          }</small
        >
        <p>
          {
            tags.map((tag: string) => (
              <a href={`${urlPrefix}tag/${slugify(tag)}`}>
                <small class="tagBadge">#{slugify(tag)}</small>
              </a>
            ))
          }
        </p>
        <small class="dateDuration">
          <Icon
            name="others/hourglass-outline"
            class="customIcon"
            height={24}
            width={24}
          />
          {duration}
        </small>
        <div class="btnContainer">
          <Button
            href={`${urlPrefix}${url}`}
            text={buttonText}
            customStyle="padding: 12px 18px;"
          />
        </div>
      </div>
    </div>
  </div>
</>
