---
// layout import
import Layout from "@layouts/Layout.astro";

// component import
import { Image } from "astro:assets";
import Header from "@components/AstroIslands/Common/Header";
import Socials from "@components/AstroComponents/Socials.astro";
import Footer from "@components/AstroComponents/Footer.astro";

// style import
import "@assets/styles/posts.scss";

// asset import
import ongoingProjects from "@images/content/projects/research/ongoing-projects.svg";
import completedProjects from "@images/content/projects/research/Completed-projects.svg";
import submittedProjects from "@images/content/projects/research/submitted-projects.svg";
import allProjects from "@images/content/projects/research/all-projects.svg";
import collaborators from "@images/content/projects/research/collaborators.svg";

// defining page title and description for all publications page
const {
  pageTitle = "Aritra Roy | Research Projects",
  pageDescription = "Find anything related to my research projects, whether it is published, accepted or ongoing. Furthermore, meet with my collaborators all around the world.",
  frontmatter,
  robots,
  cover,
} = Astro.props;

const imgData = [
  {
    src: ongoingProjects,
    alt: "Ongoing Projects",
    url: "ongoing",
    text: "Ongoing",
  },
  {
    src: completedProjects,
    alt: "Completed Projects",
    url: "completed",
    text: "Completed",
  },
  {
    src: submittedProjects,
    alt: "Submitted Projects",
    url: "submitted",
    text: "Submitted",
  },
  {
    src: allProjects,
    alt: "Published",
    url: "all-publications",
    text: "All Projects",
  },
  {
    src: collaborators,
    alt: "Collaborators",
    url: "collaborators",
    text: "Collaborators",
  },
];
---

<Layout
  title={pageTitle}
  description={pageDescription}
  {frontmatter}
  {robots}
  {cover}
>
  <Header isHomePage={false} client:only="react" />
  <Socials />
  <div class="postsNavigationDiv">
    <!-- publications  heading section -->
    <h1 style="margin-bottom: 0;">All Research Projects</h1>
    <!-- all publications -->
    <div class="allPostsContainer">
      {
        imgData.map((img: any) => (
          <a class="projectSectionLinks" href={`research/${img.url}`}>
            <Image src={img.src} alt={img.alt} width={300} />
            <h3>{img.text}</h3>
          </a>
        ))
      }
    </div>
  </div>
  <Footer />
</Layout>
