---
// layout import
import Layout from "@layouts/Layout.astro";

// component import
import OtherHeader from "@components/AstroIslands/Common/OtherHeader";

// style import
import "@assets/styles/posts.scss";

// asset import
import blogImage from "@images/content/tutorial/blogs.svg";
import videoImage from "@images/content/tutorial/videos.svg";

// defining page title and description for all publications page
const pageTitle = "Aritra Roy | All Tutorials";
const pageDescription =
    "Discover a vast array of computational chemistry tutorials, including engaging YouTube videos and informative articles, in my extensive collection.";

const imgData = [
    {
        src: blogImage,
        alt: "Blog Posts",
        url: "blogs",
        text: "Blogs Posts",
    },
    {
        src: videoImage,
        alt: "YouTube Videos",
        url: "videos",
        text: "YouTube Videos",
    },
];
---

<Layout title={pageTitle} description={pageDescription}>
    <OtherHeader client:only="react" />
    <div class="postsNavigationDiv" id="tutorialDiv">
        <!-- publications  heading section -->
        <h1 style="margin-bottom: 0;">All Tutorials</h1>
        <!-- all publications -->
        <div class="allPostsContainer">
            {
                imgData.map((img: any) => (
                    <a class="projectSectionLinks" href={img.url}>
                        <img src={img.src.src} alt={img.alt} height={300} />
                        <h3 style="margin-top: 10px;">{img.text}</h3>
                    </a>
                ))
            }
        </div>
    </div>
</Layout>
