---
// layout import
import Layout from "@layouts/Layout.astro";

// component import
import { Image } from "astro:assets";
import Header from "@components/AstroIslands/Common/Header";
import Socials from "@components/AstroComponents/Socials.astro";
import Footer from "@components/AstroComponents/Footer.astro";

// style import
import "@assets/styles/posts.scss";

// asset import
import ongoingProjects from "@images/content/projects/programming/ongoing-projects.svg";
import completedProjects from "@images/content/projects/programming/completed-projects.svg";
import allProjects from "@images/content/projects/programming/all-projects.svg";

// defining page title and description for all publications page
const {
  pageTitle = "Aritra Roy | Programming Projects",
  pageDescription = "Find anything related to my programming projects, whether it is ongoing or completed.",
  frontmatter,
  robots,
  cover,
} = Astro.props;

const imgData = [
  {
    src: ongoingProjects,
    alt: "Ongoing Projects",
    url: "ongoing",
    text: "Ongoing",
  },
  {
    src: completedProjects,
    alt: "Completed Projects",
    url: "completed",
    text: "Completed",
  },
  {
    src: allProjects,
    alt: "Published",
    url: "all-projects",
    text: "All Projects",
  },
];
---

<Layout
  title={pageTitle}
  description={pageDescription}
  {frontmatter}
  {robots}
  {cover}
>
  <Header isHomePage={false} client:only="react" />
  <Socials />
  <div class="postsNavigationDiv">
    <!-- publications  heading section -->
    <h1 style="margin-bottom: 0;">All Programming Projects</h1>
    <!-- all publications -->
    <div class="allPostsContainer">
      {
        imgData.map((img: any) => (
          <a class="projectSectionLinks" href={`programming/${img.url}`}>
            <Image src={img.src} alt={img.alt} width={300} />
            <h3>{img.text}</h3>
          </a>
        ))
      }
    </div>
  </div>
  <Footer />
</Layout>
