---
// component import
import { Image } from "astro:assets";
import Button from "@components/AstroComponents/Common/Button.astro";

// function import
import { slugify, formatDate } from "@js/utils";

// destructuring astro properties
const { title, url, image, tags, duration, pubDate } = Astro.props;

// style import
import "./styles/BlogCard.scss";
---

<>
  <div class="blogCard">
    <a href={"/tutorial/blogs/" + url}>
      <Image alt={title} src={image} width={300} height={150} />
    </a>
    <div>
      <a href={"/tutorial/blogs/" + url}>
        <h4>{title}</h4>
      </a>
      <div>
        <p class="dateDurationBlogCard">
          {formatDate(pubDate)}
          • {duration}
        </p>
      </div>
      <p>
        {
          tags.map((tag: string) => (
            <a href={`/tutorial/blogs/tag/${slugify(tag)}`}>
              <small>#{slugify(tag)}</small>
            </a>
          ))
        }
      </p>
      <Button
        href={"/tutorial/blogs/" + url}
        text="Read Post"
        customStyle="padding: 12px 18px;"
      />
    </div>
  </div>
</>
