---
// layout import
import Layout from "@layouts/Layout.astro";

// component import
import { Image } from "astro:assets";
import Header from "@components/AstroIslands/Common/Header";
import Footer from "@components/AstroComponents/Footer.astro";
import Socials from "@components/AstroComponents/Socials.astro";

// style import
import "@assets/styles/posts.scss";

// asset import
import researchImage from "@images/content/projects/research.svg";
import codingImage from "@images/content/projects/coding.svg";

// defining page title and description for all publications page
const {
  pageTitle = "Aritra Roy | All Projects",
  pageDescription = "Discover a vast array of research projects and coding projects. Explore the world of technology and research.",
  frontmatter,
  cover,
  robots,
} = Astro.props;

const imgData = [
  {
    src: researchImage,
    alt: "Research Projects",
    url: "research",
    text: "Research",
  },
  {
    src: codingImage,
    alt: "Programming Projects",
    url: "programming",
    text: "Programming",
  },
];
---

<Layout
  title={pageTitle}
  description={pageDescription}
  {frontmatter}
  {robots}
  {cover}
>
  <Header isHomePage={false} client:only="react" />
  <Socials />
  <div class="postsNavigationDiv">
    <!-- publications  heading section -->
    <h1 style="margin-bottom: 0;">All Projects</h1>
    <!-- all publications -->
    <div class="allPostsContainer">
      {
        imgData.map((img: any) => (
          <a class="projectSectionLinks" href={`/projects/${img.url}`}>
            <Image src={img.src} alt={img.alt} width={300} />
            <h3 style="margin-top: 10px;">{img.text}</h3>
          </a>
        ))
      }
    </div>
  </div>
  <Footer />
</Layout>
<style>
  .postsNavigationDiv {
    min-height: 50vh !important;
  }
</style>
