---
// library import
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

// data import
import chemistryTools from "@assets/js/data/chemistryTools";
import programmingTools from "@assets/js/data/programmingTools";

// asset import
import headshot from "@images/about/headshot.jpg";

// style import
import "./styles/About.scss";
---

<main class="AboutMe" id="about" data-name="AboutMe">
  <h2>
    <span class="number-heading">01.</span>About Me
  </h2>
  <section class="about-box">
    <!-- about description - left section -->
    <section class="about-description">
      <p>
        Currently, I'm doing my PhD at <a
          href="https://www.lsbu.ac.uk/"
          target="_blank"
          rel="noopener noreferrer"
          class="hyperlink"
        >
          LSBU, UK
        </a> on <b>Chemical Process and Energy Engineering</b> under {" "}
        <a
          href="https://scholar.google.com.sg/citations?user=hfyoL4AAAAAJ&hl=en"
          target="_blank"
          rel="noopener noreferrer"
          class="hyperlink"
        >
          Dr. John Buckeridge
        </a>.
      </p>
      <p>
        Along with that, I'm working with {" "}
        <span><b>four</b></span> collaborative projects. In one of them I'm working
        with {" "}
        <a
          href="https://www.felipefantuzzi.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="hyperlink"
        >
          Dr. Felipe Fantuzzi
        </a> from <span><b>Kent University</b></span> [Computational Part], and {
          " "
        }
        <a
          href="https://www.braunschweiggroup.de/"
          target="_blank"
          rel="noopener noreferrer"
          class="hyperlink"
        >
          Prof. Holger Braunschweig Group
        </a> [Experimental Part].
      </p>
      <p>
        My project is based on <b
          >machine learning approaches for domain wall manipulation of
          ferroelectronic materials</b
        >. Currently I'm learning <a
          href="https://www.vasp.at/"
          target="_blank"
          rel="noopener noreferrer"
          class="hyperlink"
        >
          VASP
        </a>. While working with my M.Sc. project, I learned to work in
        different computational aspects with different softwares in quantum
        chemistry field, such as, {" "}
        <a
          href="https://gaussian.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="hyperlink"
        >
          Gaussian
        </a>, {" "}
        <a
          href="https://www.3ds.com/products-services/biovia/products/molecular-modeling-simulation/biovia-materials-studio/"
          target="_blank"
          rel="noopener noreferrer"
          class="hyperlink"
        >
          Materials Studio
        </a>, {" "}
        <a
          href="https://orcaforum.kofo.mpg.de/"
          target="_blank"
          rel="noopener noreferrer"
          class="hyperlink"
        >
          ORCA
        </a>, {" "}
        <a
          href="http://sobereva.com/multiwfn/"
          target="_blank"
          rel="noopener noreferrer"
          class="hyperlink"
        >
          Multiwfn
        </a> etc.
      </p>
      <p>Here are a few tools I've been working with recently:</p>
      <section class="skills">
        <ul>
          {
            chemistryTools.map((tool: any) => {
              if (tool.id % 2 != 0) {
                return (
                  <li>
                    <span>▹ </span>
                    {tool.toolName}
                    {"\u00A0"}
                    <span class="es6">{tool.version}</span>
                  </li>
                );
              }
            })
          }
        </ul>
        <ul>
          {
            chemistryTools.map((tool: any) => {
              if (tool.id % 2 == 0) {
                return (
                  <li>
                    <span>▹ </span>
                    {tool.toolName}
                    {"\u00A0"}
                    <span class="es6">{tool.version}</span>
                  </li>
                );
              }
            })
          }
        </ul>
      </section>
      <div class="iconsContainerMobile">
        {
          programmingTools.map((item: any) => {
            if (item.language) {
              return (
                <div class="langIcons">
                  <p>Language:</p>
                  <div>
                    {item.language.map((languageItem: any) => (
                      <a href={languageItem.url}>
                        <Icon
                          name={languageItem.iconName}
                          title={languageItem.title}
                        />
                      </a>
                    ))}
                  </div>
                </div>
              );
            } else if (item.library) {
              return (
                <div class="langIcons">
                  <p>Library/Framework:</p>
                  <div>
                    {item.library.map((libraryItem: any) => (
                      <a href={libraryItem.url}>
                        <Icon
                          name={libraryItem.iconName}
                          title={libraryItem.title}
                        />
                      </a>
                    ))}
                  </div>
                </div>
              );
            } else if (item.backend) {
              return (
                <div class="langIcons">
                  <p>Backend:</p>
                  <div>
                    {item.backend.map((backendItem: any) => (
                      <a href={backendItem.url}>
                        <Icon
                          name={backendItem.iconName}
                          title={backendItem.title}
                        />
                      </a>
                    ))}
                  </div>
                </div>
              );
            } else if (item.tools) {
              return (
                <div class="langIcons">
                  <p>Tools:</p>
                  <div>
                    {item.tools.map((toolsItem: any) => (
                      <a href={toolsItem.url}>
                        <Icon
                          name={toolsItem.iconName}
                          title={toolsItem.title}
                        />
                      </a>
                    ))}
                  </div>
                </div>
              );
            } else if (item.os) {
              return (
                <div class="langIcons">
                  <p>Operating System:</p>
                  <div>
                    {item.os.map((osItem: any) => (
                      <a href={osItem.url}>
                        <Icon name={osItem.iconName} title={osItem.title} />
                      </a>
                    ))}
                  </div>
                </div>
              );
            } else if (item.ui) {
              return (
                <div class="langIcons">
                  <p>UI/UX:</p>
                  <div>
                    {item.ui.map((uiItem: any) => (
                      <a href={uiItem.url}>
                        <Icon name={uiItem.iconName} title={uiItem.title} />
                      </a>
                    ))}
                  </div>
                </div>
              );
            } else if (item.blog) {
              return (
                <div class="langIcons">
                  <p>Blog Writing:</p>
                  <div>
                    {item.blog.map((blogItem: any) => (
                      <a href={blogItem.url}>
                        <Icon name={blogItem.iconName} title={blogItem.title} />
                      </a>
                    ))}
                  </div>
                </div>
              );
            } else {
              return (
                <div class="langIcons">
                  <p>AI Assistants:</p>
                  <div>
                    {item.assistant.map((assistantItem: any) => (
                      <a href={assistantItem.url}>
                        <Icon
                          name={assistantItem.iconName}
                          title={assistantItem.title}
                        />
                      </a>
                    ))}
                  </div>
                </div>
              );
            }
          })
        }
      </div>
    </section>
    <!-- about image - right section -->
    <section class="img-container">
      <Image src={headshot} alt="Aritra Face" width={300} height={300} />
      <div class="iconsContainer">
        {
          programmingTools.map((item: any) => {
            if (item.language) {
              return (
                <div class="langIcons">
                  <p>Language:</p>
                  <div>
                    {item.language.map((languageItem: any) => (
                      <a href={languageItem.url}>
                        <Icon
                          name={languageItem.iconName}
                          title={languageItem.title}
                        />
                      </a>
                    ))}
                  </div>
                </div>
              );
            } else if (item.library) {
              return (
                <div class="langIcons">
                  <p>Library/Framework:</p>
                  <div>
                    {item.library.map((libraryItem: any) => (
                      <a href={libraryItem.url}>
                        <Icon
                          name={libraryItem.iconName}
                          title={libraryItem.title}
                        />
                      </a>
                    ))}
                  </div>
                </div>
              );
            } else if (item.backend) {
              return (
                <div class="langIcons">
                  <p>Backend:</p>
                  <div>
                    {item.backend.map((backendItem: any) => (
                      <a href={backendItem.url}>
                        <Icon
                          name={backendItem.iconName}
                          title={backendItem.title}
                        />
                      </a>
                    ))}
                  </div>
                </div>
              );
            } else if (item.tools) {
              return (
                <div class="langIcons">
                  <p>Tools:</p>
                  <div>
                    {item.tools.map((toolsItem: any) => (
                      <a href={toolsItem.url}>
                        <Icon
                          name={toolsItem.iconName}
                          title={toolsItem.title}
                        />
                      </a>
                    ))}
                  </div>
                </div>
              );
            } else if (item.os) {
              return (
                <div class="langIcons">
                  <p>Operating System:</p>
                  <div>
                    {item.os.map((osItem: any) => (
                      <a href={osItem.url}>
                        <Icon name={osItem.iconName} title={osItem.title} />
                      </a>
                    ))}
                  </div>
                </div>
              );
            } else if (item.ui) {
              return (
                <div class="langIcons">
                  <p>UI/UX:</p>
                  <div>
                    {item.ui.map((uiItem: any) => (
                      <a href={uiItem.url}>
                        <Icon name={uiItem.iconName} title={uiItem.title} />
                      </a>
                    ))}
                  </div>
                </div>
              );
            } else if (item.blog) {
              return (
                <div class="langIcons">
                  <p>Blog Writing:</p>
                  <div>
                    {item.blog.map((blogItem: any) => (
                      <a href={blogItem.url}>
                        <Icon name={blogItem.iconName} title={blogItem.title} />
                      </a>
                    ))}
                  </div>
                </div>
              );
            } else {
              return (
                <div class="langIcons">
                  <p>AI Assitants:</p>
                  <div>
                    {item.assistant.map((assistantItem: any) => (
                      <a href={assistantItem.url}>
                        <Icon
                          name={assistantItem.iconName}
                          title={assistantItem.title}
                        />
                      </a>
                    ))}
                  </div>
                </div>
              );
            }
          })
        }
      </div>
    </section>
  </section>
</main>
