---
// library import
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

// data import
import researchTools from "@assets/js/data/researchTools";
import programmingTools from "@assets/js/data/programmingTools";

// asset import
import headshot from "@images/about/headshot.jpg";

// style import
import "./styles/About.scss";
---

<main class="AboutMe" id="about" data-name="AboutMe">
  <h2>
    <span class="number-heading">01.</span>About Me
  </h2>
  <section class="about-box">
    <!-- about description - left section -->
    <section class="about-description">
      <p>
        Currently, I'm doing my PhD at <a
          href="https://www.lsbu.ac.uk/"
          target="_blank"
          rel="noopener noreferrer"
          class="hyperlink"
        >
          LSBU, UK
        </a> on <b>Chemical Process and Energy Engineering</b> under {" "}
        <a
          href="https://scholar.google.com.sg/citations?user=hfyoL4AAAAAJ&hl=en"
          target="_blank"
          rel="noopener noreferrer"
          class="hyperlink"
        >
          Dr. John Buckeridge
        </a>.
      </p>
      <p>
        Along with that, I'm working with {" "}
        <span><b>four</b></span> collaborative projects. In one of them I'm working
        with {" "}
        <a
          href="https://www.felipefantuzzi.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="hyperlink"
        >
          Dr. Felipe Fantuzzi
        </a> from <span><b>Kent University</b></span> [Computational Part], and {
          " "
        }
        <a
          href="https://www.braunschweiggroup.de/"
          target="_blank"
          rel="noopener noreferrer"
          class="hyperlink"
        >
          Prof. Holger Braunschweig Group
        </a> [Experimental Part].
      </p>
      <p>
        My project is based on <b
          >machine learning approaches for domain wall manipulation of
          ferroelectronic materials</b
        >. Currently I'm learning <a
          href="https://www.vasp.at/"
          target="_blank"
          rel="noopener noreferrer"
          class="hyperlink"
        >
          VASP
        </a>. While working with my M.Sc. project, I learned to work in
        different computational aspects with different softwares in quantum
        chemistry field, such as, {" "}
        <a
          href="https://gaussian.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="hyperlink"
        >
          Gaussian
        </a>, {" "}
        <a
          href="https://www.3ds.com/products-services/biovia/products/molecular-modeling-simulation/biovia-materials-studio/"
          target="_blank"
          rel="noopener noreferrer"
          class="hyperlink"
        >
          Materials Studio
        </a>, {" "}
        <a
          href="https://orcaforum.kofo.mpg.de/"
          target="_blank"
          rel="noopener noreferrer"
          class="hyperlink"
        >
          ORCA
        </a>, {" "}
        <a
          href="http://sobereva.com/multiwfn/"
          target="_blank"
          rel="noopener noreferrer"
          class="hyperlink"
        >
          Multiwfn
        </a> etc.
      </p>
      <p>Here are a few tools I've been working with recently:</p>
      <section class="skills">
        <ul>
          {
            researchTools.map((tool: any) => {
              if (tool.id % 2 != 0) {
                return (
                  <li>
                    <span>▹ </span>
                    {tool.toolName}
                    <span class="es6">{tool.version}</span>
                  </li>
                );
              }
            })
          }
        </ul>
        <ul>
          {
            researchTools.map((tool: any) => {
              if (tool.id % 2 == 0) {
                return (
                  <li>
                    <span>▹ </span>
                    {tool.toolName}
                    <span class="es6">{tool.version}</span>
                  </li>
                );
              }
            })
          }
        </ul>
      </section>
      <div class="iconsContainerMobile">
        {
          programmingTools.map((item: any) => {
            const typeMapping = {
              language: "Language",
              library: "Library/Framework",
              backend: "Backend",
              tools: "Tools",
              os: "Operating System",
              ui: "UI/UX",
              blog: "Blog Writing",
              assistant: "AI Assistants",
            };

            const itemType = Object.keys(item)[0];
            const displayName = typeMapping[itemType];

            return (
              <div class="langIcons">
                <p>{displayName}:</p>
                <div>
                  {item[itemType].map((itemElement: any) => (
                    <a href={itemElement.url}>
                      <Icon
                        name={itemElement.iconName}
                        title={itemElement.title}
                      />
                    </a>
                  ))}
                </div>
              </div>
            );
          })
        }
      </div>
    </section>
    <!-- about image - right section -->
    <section class="img-container">
      <Image src={headshot} alt="Aritra Face" width={300} height={300} />
      <div class="iconsContainer">
        {
          programmingTools.map((item: any) => {
            const typeMapping = {
              language: "Language",
              library: "Library/Framework",
              backend: "Backend",
              tools: "Tools",
              os: "Operating System",
              ui: "UI/UX",
              blog: "Blog Writing",
              assistant: "AI Assistants",
            };

            const itemType = Object.keys(item)[0];
            const displayName = typeMapping[itemType];

            return (
              <div class="langIcons">
                <p>{displayName}:</p>
                <div>
                  {item[itemType].map((itemElement: any) => (
                    <a href={itemElement.url}>
                      <Icon
                        name={itemElement.iconName}
                        title={itemElement.title}
                      />
                    </a>
                  ))}
                </div>
              </div>
            );
          })
        }
      </div>
    </section>
  </section>
</main>
