---
import { Image } from "astro:assets";
const { title, url, image, tags, duration, pubDate } = Astro.props;
import "./styles/BlogCard.scss";
import Button from "./Button.astro";
import { slugify, formatDate } from "../../assets/js/utils";
---

<>
  <div class="blogCard">
    <a href={"/tutorial/blogs/" + url}>
      <Image alt={title} src={image} width={300} height={150} />
    </a>
    <div>
      <a href={"/tutorial/blogs/" + url}>
        <h4>{title}</h4>
      </a>
      <div>
        <p class="dateDurationBlogCard">
          {formatDate(pubDate)}
          • {duration}
        </p>
      </div>
      <p>
        {
          tags.map((tag: string) => (
            <a href={`/tutorial/blogs/tag/${slugify(tag)}`}>
              <small>#{slugify(tag)}</small>
            </a>
          ))
        }
      </p>
      <Button
        href={"/tutorial/blogs/" + url}
        text="Read Post"
        customStyle="padding: 12px 18px;"
      />
    </div>
  </div>
</>
