---
// library import
import { getCollection } from "astro:content";

// component import
import { Image } from "astro:assets";
import Button from "@components/AstroComponents/Common/Button.astro";
import ResearchProjectCard from "@components/AstroComponents/ResearchProjects/ResearchProjectCard.astro";

// function import
import { formatPosts } from "@js/utils";

// style import
import "./styles/Projects.scss";

// asset import
import NoData from "@images/No data.svg";
import ProgrammingProjectCard from "./ProgrammingProjects/ProgrammingProjectCard.astro";

const allResearchProjects = await getCollection("research");
const pinnedResearchProjects = formatPosts(
  allResearchProjects.filter(
    (researchProject: any) => researchProject.data.isPinned
  )
).slice(0, 2);

const allProgrammingProjects = await getCollection("programming");
const formattedProgrammingProjects = formatPosts(allProgrammingProjects, {
  filterOutFuturePosts: false,
}).slice(0, 2);
---

<main class="Projects" id="project" data-name="AboutMe">
  <h2>
    <span class="number-heading">02.</span>Projects
  </h2>
  <section class="chemprojects-container">
    <div class="section-heading">
      <h4>Research Projects</h4>
    </div>
    <div class="allPostsContainer">
      {
        pinnedResearchProjects.length > 0 ? (
          pinnedResearchProjects.map((researchProject: any) => (
            <ResearchProjectCard
              url={researchProject.slug}
              title={researchProject.data.title}
              journalName={researchProject.data.journalName}
              image={researchProject.data.cover}
              duration={researchProject.data.duration}
              pubDate={researchProject.data.pubDate}
              status={researchProject.data.status}
              tags={researchProject.data.tags}
              urlPrefix="/projects/research/"
              buttonText="View Paper"
            />
          ))
        ) : (
          <div class="noDataFoundContainer">
            <Image
              id="noDataFound"
              src={NoData}
              alt="No Data Found"
              width={500}
            />
            <h2>No Records Found</h2>
            <p>
              There is no project in this section at this moment.. Maybe explore
              other projects?
            </p>
          </div>
        )
      }
    </div>
    <Button
      text="Explore More..."
      href="/projects/research"
      customStyle="margin-bottom:75px;"
    />
    <div class="section-heading">
      <h4>Programming Projects</h4>
    </div>
    <div class="allPostsContainer">
      {
        formattedProgrammingProjects.length > 0 ? (
          formattedProgrammingProjects.map((programmingProject: any) => (
            <ProgrammingProjectCard
              url={programmingProject.slug}
              title={programmingProject.data.title}
              cover={programmingProject.data.cover}
              duration={programmingProject.data.duration}
              status={programmingProject.data.status}
              tags={programmingProject.data.tags}
              githubUrl={programmingProject.data.githubUrl}
              hostedUrl={programmingProject.data.hostedUrl}
              urlPrefix="/projects/programming/"
              buttonText="View Project"
            />
          ))
        ) : (
          <div class="noDataFoundContainer">
            <Image
              id="noDataFound"
              src={NoData}
              alt="No Data Found"
              width={500}
            />
            <h2>No Records Found</h2>
            <p>
              There is no project in this section at this moment.. Maybe explore
              other projects?
            </p>
          </div>
        )
      }
    </div>
    <Button text="Explore More..." href="/projects/programming" />
  </section>
</main>
