---
// component import
import BlogHeader from "@components/AstroComponents/BlogHeader.astro";
import ShareComment from "../components/AstroIslands/ShareComment";
import Layout from "../layouts/Layout.astro";
import "../assets/styles/BlogSinglePost.scss";
import { formatBlogPosts } from "../assets/js/utils";
import { getCollection } from "astro:content";
import RelatedBlogs from "@components/AstroComponents/RelatedBlogs.astro";

const { frontmatter } = Astro.props;
const { title, subtitle, description, pubDate, tags, duration, cover } =
  frontmatter;

const allBlogs = await getCollection("blogs");
const formattedBlogs = formatBlogPosts(allBlogs, {
  sortByDate: false,
});
const relatedBlogs = formattedBlogs
  .filter(
    (blog: any) => blog.data.tags.includes(tags[0]) && blog.data.title !== title
  )
  .slice(0, 3);
---

<Layout {title} {description}>
  <BlogHeader
    {title}
    {subtitle}
    {description}
    {pubDate}
    {tags}
    {cover}
    {duration}
  />
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar"></div>
  </div>
  <ShareComment client:only="react" />
  <RelatedBlogs {relatedBlogs} />
</Layout>
