---
// layout import
import Layout from "@layouts/Layout.astro";

// component import
import BlogHeader from "@components/AstroComponents/Blogs/BlogHeader.astro";
import RelatedBlogs from "@components/AstroComponents/Blogs/RelatedBlogs.astro";
import ShareComment from "@components/AstroIslands/Common/ShareComment";

// function import
import { formatPosts } from "@js/utils";
import { getCollection } from "astro:content";

// style import
import "@styles/single-post.scss";

// destructuring astro properties
const { frontmatter } = Astro.props;
const { title, subtitle, description, pubDate, tags, duration, cover } =
  frontmatter;

// getting related blog posts related to first tag of the current blog
const allBlogs = await getCollection("blogs");
const formattedBlogs = formatPosts(allBlogs, {
  sortByDate: false,
});
const relatedBlogs = formattedBlogs
  .filter(
    (blog: any) => blog.data.tags.includes(tags[0]) && blog.data.title !== title
  )
  .slice(0, 3);
---

<Layout {title} {description}>
  <!-- blog heading section -->
  <BlogHeader
    {title}
    {subtitle}
    {description}
    {pubDate}
    {tags}
    {cover}
    {duration}
  />
  <!-- blog post content section -->
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar"></div>
  </div>
  <!-- comment using giscus -->
  <ShareComment client:only="react" />
  <!-- related blog posts section -->
  <RelatedBlogs {relatedBlogs} />
</Layout>
