---
// component import
import GoogleAnalytics from "@components/Meta/GoogleAnalytics.astro";
import Seo from "@components/Meta/Seo.astro";

// style import
import "@assets/styles/global.scss";

// defining type of title and description of the page
export interface LayoutProps {
  title?: string;
  description?: string;
  cover?: string;
  frontmatter?: any;
  robots?: boolean;
}

// default values of title and description of the page
const {
  title = "Aritra Roy | Computational Chemist",
  description = "I'm a Theoretical Computational Chemist & Algorithm Enthusiast from India. I have expertise in theory, software handling, & problem-solving skill.",
  cover,
  frontmatter,
  robots,
} = Astro.props as LayoutProps;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <GoogleAnalytics />

    <!-- metadata section -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content={description} />
    <Seo {title} {description} url={Astro.url} {cover} {frontmatter} {robots} />

    <!-- favicon, font and other stylesheets import -->
    <link rel="icon" href="/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="apple-touch-icon" href="/logo180.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body>
    <noscript
      >You need to enable JavaScript to run all the functionality of this
      website.</noscript
    >
    <div id="root">
      <slot />
    </div>
    <script>
      (function (window) {
        var unknown = "-";
        var os = unknown;
        var osVersion = unknown;
        var mobile = /Mobile|mini|Fennec|Android|iP(ad|od|hone)/.test(
          navigator.userAgent
        );
        var screenSize = "";

        if (mobile) {
          var nVer = navigator.appVersion;
          var nAgt = navigator.userAgent;
          var browser = navigator.appName;
          var version = "" + parseFloat(nVer);
          var nameOffset, verOffset, ix;

          var clientStrings = [{ s: "iOS", r: /(iPhone|iPad|iPod)/ }];

          for (var id in clientStrings) {
            var cs = clientStrings[id];
            if (cs.r.test(nAgt)) {
              os = cs.s;
              if (os === "iOS") {
                osVersion = /OS (\d+)_(\d+)_?(\d+)?/.exec(nVer)!![1];
                osVersion =
                  osVersion[1] + "." + osVersion[2] + "." + (osVersion[3] | 0);
                break;
              }
            }
          }

          if (screen.width) {
            var width = screen.width;
            var height = screen.height;
            screenSize = width + " x " + height;
          }

          if (os === "iOS" && screen.width < 730) {
            const footerSocials = document.getElementById("footerSocials");
            const footer = document.getElementById("footer");
            if (footerSocials !== null) {
              footerSocials.style.display = "none";
            }
            if (footer !== null) {
              footer.style.minHeight = "200px";
            }
          }
        }
      })(this);

      setInterval(function () {
        console.clear();
        console.log(`
       █████╗ ██████╗ ██╗████████╗██████╗  █████╗     ██████╗  ██████╗ ██╗   ██╗
      ██╔══██╗██╔══██╗██║╚══██╔══╝██╔══██╗██╔══██╗    ██╔══██╗██╔═══██╗╚██╗ ██╔╝
      ███████║██████╔╝██║   ██║   ██████╔╝███████║    ██████╔╝██║   ██║ ╚████╔╝
      ██╔══██║██╔══██╗██║   ██║   ██╔══██╗██╔══██║    ██╔══██╗██║   ██║  ╚██╔╝
      ██║  ██║██║  ██║██║   ██║   ██║  ██║██║  ██║    ██║  ██║╚██████╔╝   ██║
      ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝    ╚═╝  ╚═╝ ╚═════╝    ╚═╝

      ╔═╗┌─┐┌┬┐┌─┐┬ ┬┌┬┐┌─┐┌┬┐┬┌─┐┌┐┌┌─┐┬    ╔═╗┬ ┬┌─┐┌┬┐┬┌─┐┌┬┐
      ║  │ ││││├─┘│ │ │ ├─┤ │ ││ ││││├─┤│    ║  ├─┤├┤ ││││└─┐ │
      ╚═╝└─┘┴ ┴┴  └─┘ ┴ ┴ ┴ ┴ ┴└─┘┘└┘┴ ┴┴─┘  ╚═╝┴ ┴└─┘┴ ┴┴└─┘ ┴ ┘
      ╔═╗╦╔═╗  ╦  ┌─┐┌┐
      ║  ║╚═╗  ║  ├─┤├┴┐
      ╚═╝╩╚═╝  ╩═╝┴ ┴└─┘ ┘
      ╔═╗┌─┐┌┐┌┌┬┐┬┌─┐┬ ┬┌─┐┬─┐┬─┐┬ ┬  ╦┌┐┌┌┬┐┬┌─┐
      ╠═╝│ ││││ ││││  ├─┤├┤ ├┬┘├┬┘└┬┘  ║│││ │││├─┤
      ╩  └─┘┘└┘─┴┘┴└─┘┴ ┴└─┘┴└─┴└─ ┴ ┘ ╩┘└┘─┴┘┴┴ ┴
      `);
      }, 5000);
    </script>
  </body>
</html>
