---
// layout import
import Layout from "@layouts/Layout.astro";

// component import
import VideoHeader from "@components/AstroComponents/Videos/VideoHeader.astro";
import RelatedPosts from "@components/AstroComponents/Common/RelatedPosts.astro";
import ShareComment from "@components/AstroIslands/Common/ShareComment";
import Socials from "@components/AstroComponents/Socials.astro";
import Footer from "@components/AstroComponents/Footer.astro";

// function import
import { formatPosts } from "@js/utils";
import { getCollection } from "astro:content";

// style import
import "@styles/single-post.scss";

// destructuring astro properties
const { frontmatter } = Astro.props;
const { title, description, pubDate, tags, duration, videoId, cover } =
  frontmatter;

// getting related video posts related to first tag of the current video
const allVideos = await getCollection("videos");
const formattedVideos = formatPosts(allVideos, {
  sortByDate: false,
});
// filtering based on common tags
const tagsFilteredVideos: any[] = [];
var flag = 0;
formattedVideos.forEach((item: any) => {
  var tempTags = item.data.tags;
  tempTags.forEach((tag: string) => {
    if (tags.includes(tag)) {
      flag = 1;
    }
  });
  if (flag === 1) {
    tagsFilteredVideos.push(item);
  }
  flag = 0;
});
// removing the same post itself (we don't want to show the same post as similar post suggestion)
const relatedVideos = tagsFilteredVideos
  .filter((video: any) => video.data.title !== title)
  .slice(0, 3);
---

<Layout {title} {description} {frontmatter} {cover}>
  <Socials />
  <!-- video heading section -->
  <VideoHeader {title} {description} {pubDate} {tags} {videoId} {duration} />
  <!-- video post content section -->
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar"></div>
  </div>
  <!-- comment using giscus -->
  <ShareComment
    client:only="react"
    postType="Video"
    rssUrl="/tutorial/videos/rss.xml"
  />
  <!-- related video posts section -->
  <RelatedPosts relatedPosts={relatedVideos} text="Vidoes" urlPrefix="/" />
  <Footer />
</Layout>
