---
// layout import
import Layout from "@layouts/Layout.astro";

// library import
import { getCollection } from "astro:content";

// component import
import { Image } from "astro:assets";
import ResearchProjectCard from "@components/AstroComponents/ResearchProjects/ResearchProjectCard.astro";
import Header from "@components/AstroIslands/Common/Header";
import Pagination from "@components/AstroComponents/Common/Pagination.astro";
import Socials from "@components/AstroComponents/Socials.astro";
import Footer from "@components/AstroComponents/Footer.astro";
import Button from "@components/AstroComponents/Common/Button.astro";

// function import
import { formatPosts } from "@js/utils";

// type import
import type { GetStaticPaths } from "astro";

// style import
import "@assets/styles/posts.scss";

// asset import
import NoData from "@assets/images/No data.svg";

// getting ongoing publications with 6 publications per page
export const getStaticPaths = (async ({ paginate }) => {
  const allPublications = await getCollection("research");
  const formattedPublications = formatPosts(allPublications, {
    filterOutFuturePosts: false,
  });
  const ongoingPublications = formattedPublications.filter(
    (publication: any) =>
      publication.data.status === "Ongoing" ||
      publication.data.status === "ongoing" ||
      publication.data.status === "ONGOING"
  );
  return paginate(ongoingPublications, {
    pageSize: 6,
  });
}) satisfies GetStaticPaths;
interface Props {
  frontmatter?: any; 
  cover?: string;
  robots?: string;
  page: any;
}
const { page, frontmatter, robots, cover }: Props = Astro.props;

// defining page title and description for ongoing publications page
const pageTitle = "Aritra Roy | Ongoing Research Projects";
const pageDescription =
  "Explore my ongoing computational research projects, where cutting-edge algorithms and simulations unravel the mysteries of molecules, reactions and the world.";
---

<Layout title={pageTitle} description={pageDescription} {frontmatter} {robots} {cover}>
  <Header isHomePage={false} client:only="react" />
  <Socials />
  <div class="postsNavigationDiv">
    <Button text="Projects Homepage" href="/projects/research" customStyle="margin-bottom:20px;" />
    <!-- publications  heading section -->
    <h1 style="margin-bottom: 0;">Ongoing Research Projects</h1>
    <!-- ongoing publications -->
    <div class="allPostsContainer">
      {
        page.data.length > 0 ? (
          page.data.map((publication: any) => (
            <ResearchProjectCard
              url={publication.slug}
              title={publication.data.title}
              journalName={publication.data.journalName}
              image={publication.data.cover}
              duration={publication.data.duration}
              status={publication.data.status}
              tags={publication.data.tags}
              urlPrefix="/projects/research/"
              buttonText="View Paper"
            />
          ))
        ) : (
          <div class="noDataFoundContainer">
            <Image
              id="noDataFound"
              src={NoData}
              alt="No Data Found"
              width={500}
            />
            <h2>No Records Found</h2>
            <p>
              There is no project in this section at this moment.. Maybe explore other projects?
            </p>
          </div>
        )
      }
    </div>
    <!-- pagination section -->
    {page.lastPage === 1 ? (<></>) : 
      (
        <Pagination
          prevUrl={page.url.prev}
          nextUrl={page.url.next}
          totalPage={page.lastPage}
          currentPage={page.currentPage}
          urlPrefix="/projects/research/ongoing/"
        />
      )
    }
  </div>
  <Footer />
</Layout>
