---
// library imports
import { Icon } from "astro-iconify";

// style import
import "./styles/Button.scss";

// type declaration
interface Props {
  text: string;
  href?: string;
  customStyle?: string;
  target?: string;
  rel?: string;
  icon?: {
    name: string;
    side: "left" | "right";
  };
  backBtn?: boolean;
  download?: string;
}

// destructuring astro properties
const { text, href, target, rel, customStyle, icon, download, ...rest } =
  Astro.props as Props;
---

<a
  href={href}
  target={target}
  rel={rel}
  class="button-link"
  style={customStyle}
  download={download}
  {...rest}
>
  <!-- icon for left side -->
  {
    icon && icon.side === "left" && (
      <Icon name={icon.name} height="24" width="24" />
    )
  }
  <button class="customButton">{text}</button>
  <!-- icon for right side -->
  {
    icon && icon.side === "right" && (
      <Icon name={icon.name} height="24" width="24" />
    )
  }
</a>
