---
// component import
import { Image } from "astro:assets";
import Button from "@components/AstroComponents/Common/Button.astro";

// function import
import { slugify, formatDate } from "@js/utils";

// destructuring astro properties
const { title, url, image, tags, duration, pubDate, urlPrefix, buttonText } = Astro.props;

// style import
import "./styles/PostCard.scss";
---

<>
  <div class="postCard">
    <a href={`${urlPrefix}${url}`}>
      <Image alt={title} src={image} width={300} height={150} />
    </a>
    <div>
      <a href={`${urlPrefix}${url}`}>
        <h4>{title}</h4>
      </a>
      <div>
        <p class="dateDurationPostCard">
          {formatDate(pubDate)}
          • {duration}
        </p>
      </div>
      <p>
        {
          tags.map((tag: string) => (
            <a href={`${urlPrefix}tag/${slugify(tag)}`}>
              <small>#{slugify(tag)}</small>
            </a>
          ))
        }
      </p>
      <Button
        href={`${urlPrefix}${url}`}
        text={buttonText}
        customStyle="padding: 12px 18px;"
      />
    </div>
  </div>
</>
